<section class="menuadm">
  <div class="box-default">
      <img class="logo" src="../images/logo.png" alt="">    
      <div class="box-content">
        <div class="box-content-wrapper">          
          <button type="button" class="button-menuadm" ng-if="!confirm" ng-click="replaceConfirm()">        
            <span class="text uppercase">resetar ranking</span>          
          </button> 
          <button type="button" class="button-menuadm confirm" ng-if="!!confirm" ng-click="resetRanking()">        
            <span class="text uppercase">confirmar</span>          
          </button>
          <button type="button" class="button-menuadm">        
            <span class="text uppercase">doar vidas</span>          
          </button> 
          <button type="button" class="button-menuadm">        
            <span class="text uppercase">editar níveis</span>          
          </button> 
        </div>    
      </div>           
  </div>
</section>