.menuadm {
    .button-menuadm {
        background-color: $button-color-menuadm;
        color: $text-color-menuadm;
        margin: 6px;
        width: 360px;
        height: 58px;
        border-radius: 3px;
        @extend %button-design-primary; 
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;   
        &.confirm {
            background-color: $button-color-menuadm-confirmar;
            color: #fff;
        }      
    }    
}