.loginadm {
    .button-home {
        @extend .button-adm-default;
        background-color: $button-color-home;
    }  

    .loginadm-input { @extend .input-adm-default; }

    .loginadm-input::placeholder {
        color: #c6c6c6;
        font-size: 22px;
    }

    .loginadm-title {
        font-size: 36px;
        color: $text-color-loginadm;
        text-align: center;
        margin-bottom: 38px;
        line-height: 36px;
    }
}
