<section class="admin-page loginadm">
  <div class="box-default">
    <img class="logo" src="../images/logo.png" alt="">    
    <div class="box-content">
      <div class="box-content-wrapper">
        <form>
          <div class="loginadm-title font-primary uppercase">
              <h1>Painel <br> administrativo</h1>
          </div>  
          <div>  
            <label for="user" hidden>
              Usuário
            </label>
            <input class="loginadm-input font-secundary uppercase" type="text" ng-model="user.email" name="user" placeholder="Usuário">
          </div>
          <div>
            <label for="password" hidden>
              Senha 
            </label>
            <input class="font-secundary loginadm-input uppercase" type="password" ng-model="user.password" name="password" placeholder="senha">
          </div>  
          <button type="button" class="button-home font-primary" ng-submit="login(user)">        
            <span class="text uppercase">entrar</span>          
          </button> 
        </form>
      </div>  
    </div>     
  </div>
</section>