.login {
    .box-default{      
        padding: 80px 40px; 
        flex-direction: column;
        justify-content: space-between;
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;
    } 

    .logo {
        width: 33%;
    }

    .button-login {
        @extend %button-design-login; 
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;                
    }    
}