.admin-page {
    .logo {
        width: 33%;
    }

    .box-default{ 
        @extend %flexbox-center-horizontal;
        flex-direction: column;
        position: relative;
    }

    .box-content {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 30px 10px 10px;
    }
}