.administrative {
    .logo {
        width: 33%;
    }

    h1 {
        margin-top: 15px;
        &.font-primary {
            text-shadow: 0 5px 1px rgba(#000, 0.2);
            &>small {
                text-shadow: initial;
            }
        }
    }

    .button-home {
        background-color: $button-color-home;
        @extend %button-design-primary; 
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;                
    }    
}