.lifesadm {
    .button-lifesadm-confirmar { @extend .button-adm-default; }  

    .lifesadm-input { @extend .input-adm-default; }

    .lifesadm-input::placeholder {
        color: #c6c6c6;
        font-size: 22px;
    }

    .lifesadm-titulo {
        font-size: 36px;
        color: $text-color-loginadm;
        text-align: center;
        margin-bottom: 38px;
        line-height: 36px;
    }
}
