body {
    box-sizing: border-box;
    margin: 0;
}

%button-design-login {    
    width: 70%;
    height: 16%;
    background-color: $button-color-login;
}

%flexbox-center-vertical {
    display: flex;
    justify-content: center;
}

%flexbox-center-horizontal {
    display: flex;
    align-items: center;
}

%background-image-box {
    border-radius: 10px;
    background-image: $background-image-default;   
    background-size: cover;  
    background-position: center;
}

.fa.fa-facebook-official {
    color: white;
    font-size: 50px;
    margin: 0 30px 0 0; 
}

h1.annie {
    font-family: 'Annie Use Your Telescope';
    font-size: 46px;
    text-align: center;
    color: $text-color-login;
    &.subtitle {
        font-size: 33px;
        color: $text-subtitle-color-login;  
    }
}