body {
    box-sizing: border-box;
    margin: 0;
}

%button-design-login {    
    width: 65%;
    height: 13%;
    background-color: $button-color-login;
}

%flexbox-center-vertical {
    display: flex;
    justify-content: center;
}

%flexbox-center-horizontal {
    display: flex;
    align-items: center;
}

%background-image-box {
    border-radius: 10px;
    background-image: $background-image-default;   
    background-size: cover;  
    background-position: center;
}

.fa.fa-facebook-square {
    color: white;
    font-size: 40px;
}

h1.annie {
    font-family: 'Annie Use Your Telescope';
}