.uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope.ttf"); }
@font-face {
  font-family: 'HDV Comic Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hvd_comic_serif/HVD_Comic_Serif_Pro.otf"); }
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #363D4D;
  height: 100vh; }

.box-default {
  height: 85vh;
  width: 740px;
  padding: 60px 20px;
  flex-direction: column;
  justify-content: space-between; }

.box-content {
  margin: 10px;
  padding: 20px;
  position: relative; }
  .box-content .box-content-wrapper {
    z-index: 3;
    position: relative;
    flex-direction: column;
    justify-content: space-between; }
  .box-content:before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
  .box-content:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: rotate(-4deg);
    border-radius: 5px; }

.mask-profile {
  object-fit: cover;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  height: 90px;
  width: 90px; }

.login .button-login, .home .button-home, .game .button-home {
  font-family: "HDV Comic Serif Pro";
  width: 70%;
  height: 16%;
  background-color: #264285;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #fff; }

body, .box-content .box-content-wrapper, .login .button-login, .home .button-home, .game .button-home {
  display: flex;
  justify-content: center; }

body, .box-default, .box-content .box-content-wrapper, .login .button-login, .home .button-home, .game .button-home {
  display: flex;
  align-items: center; }

.box-default {
  border-radius: 10px;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center; }

.fa.fa-facebook-official {
  color: #fff;
  font-size: 50px;
  margin: 0 30px 0 0; }

.font-primary {
  font-family: "HDV Comic Serif Pro"; }

.font-secundary {
  font-family: "Annie Use Your Telescope"; }

h1.font-secundary {
  font-size: 46px;
  text-align: center;
  color: #28b266; }
  h1.font-secundary.subtitle {
    font-size: 33px;
    color: #585858; }

h1.font-primary {
  text-align: center;
  color: #343434; }
  h1.font-primary small {
    color: #343434; }

.login .logo {
  width: 33%; }

.home .logo {
  width: 33%; }
.home h1 {
  margin-top: 15px; }
  .home h1.font-primary {
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0.2); }
    .home h1.font-primary > small {
      text-shadow: initial; }
.home .button-home {
  background-color: #e77235; }

.game .logo {
  width: 33%; }
.game .button-home {
  background-color: #e77235; }

/*# sourceMappingURL=main.css.map */
