.levelsadm {
    .button-levelsadm-confirmar { @extend .button-adm-default; }  
    
    .box-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;
        .inputs {
            width: 47%;          
        }
    }

    .levelsadm-input { @extend .input-adm-default; }

    .levelsadm-label {
        color: #c6c6c6;
        font-size: 18px;
    }

    .levelsadm-titulo {
        font-size: 36px;
        color: $text-color-loginadm;
        text-align: center;
    }
    
    select.font-secundary.levelsadm-input.uppercase{
        color: #c6c6c6;
        font-size: 22px; 
        padding: 8px;
    }
}