.levelsadm {
    .button-levelsadm-confirmar {
        font-size: 18px;
        width: 100%;
        background-color: $button-color-menuadm-confirmar;
        @extend %button-design-primary; 
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;                
        border-radius: 3px;
        padding: 15px;
        margin-top: 15px;
    }  

    .box-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;
        .inputs {
            width: 47%;          
        }
    }

    .levelsadm-input {
        background-color: #f0f0f0;
        border: 1px solid $border-color-input-loginadm;
        border-radius: 3px;
        padding:  15px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .levelsadm-label {
        color: #c6c6c6;
        font-size: 18px;
    }

    .levelsadm-titulo {
        font-size: 36px;
        color: $text-color-loginadm;
        text-align: center;
    }
    
    select.font-secundary.levelsadm-input.uppercase{
        color: #c6c6c6;
        font-size: 22px; 
        padding: 8px;
    }
}