.game {   
    .center-box{
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;
    }
    .box-game{    
        height: 91vh;
        padding: 28px 20px;      
        border-radius: 4px;
        background-image: $background-image-default;   
        background-size: 100% 100%;  
        background-position: center;
    } 
    .box-game-info{
        margin-left: 1%;
        background-color: $background-color-game-info;
        height: 13vh;
        width: 98%;
        border-radius: 8px;
        padding: 10px;
    }
    .box-question-title{
        h1{
            text-align: center;
            font-size: 40px;
            letter-spacing: -2px;
        }
    }
    h1.font-game-logo{
        left: 170px;
        font-size:45px;
        text-shadow: 0px 7px #242C35;
        letter-spacing: -2px;
        color: $text-color-game-title;
        margin-bottom: 0;
        margin-top: 0;
    }
    .box-img-game{
        height: 60vh;
        max-width: 100%;
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;
        flex-wrap: wrap;
        flex-direction: row; //column
        padding: 2vh;
        overflow-y: hidden;
    }
    .game-button{
        position: relative;
        border: 0;
        background-color: transparent;
        background-size: 100% 100%;
        width: 95px;
        height: 90px;
        margin: 10px;
        box-shadow: 0px 5px 0px #BEBEBE;
        border-radius: 5px;  
        opacity: 0.8;
    }
    .moviment-to-button{
        &:hover{
            margin: 0px;
            width: 115px;
            height: 110px;
            opacity: 1;
        }
        &:active{
            box-shadow: 0px 0px 0px #BEBEBE;
            width: 95px;
            height: 90px;
            margin: 10px;
        }
    }
    .game-button-right-answer:after {
        content: "Acertou  :)";
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(green, .5);
        color: white;
    }

    .game-button-wrong-answer:after {
        content: "Errou  :(";
        position: absolute;
        font-size: 30px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(red, .5);
        color: white;
    }
    .game-button-general-answer:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(white, .5);
    }
    .level-info{
        font-family: $font-type-primary;
        display: inline-flex;
    }
    .stage{
        width: 150px;
        display: inline-block;
        border: 2px solid black;
        h1{
            margin-top: 0px;
            text-align: center;
        }
    }
    .points{
        margin-bottom: 50px;
        width: 300px;
        border: 2px solid black;
        h3{
            text-align: center;
            margin-top: 0px;
        }
    }
    .timer{
        width: 150px;
        display: inline-block;
        border: 2px solid black;
        h1{
            margin-top: 0px;
            text-align: center;
        }
    }
    .progress-bar{
        width: 100%;
        height: 4px;
        background-color: $progress-bar-color;
        border-radius: 2px;
    }
    .progress{
        height: 100%;
        background-color: $progress-color;
        box-shadow: 0px 0px 15px 1px $progress-color; 
    }
    @media screen and (orientation: Portrait){
        .box-game{
            width: 100vw;
        }
        .box-img-game{
            height: 65vh;
        }
        .game-button{
            width: 150px;
            height: 145px;
        }
        .moviment-to-button{
            &:hover{
                width: 170px;
                height: 165px;
            }
            &:active{
                width: 150px;
                height: 145px;
            }
        }
    }
    @media screen and (orientation: Portrait) and (min-height:1800px){
        .game-button{
            width: 200px;
            height: 195px;
        }
        .moviment-to-button{
            &:hover{
                width: 220px;
                height: 215px;
            }
            &:active{
                width: 200px;
                height: 195px;
            }
        }
    }
    @media screen and (min-height:1000px) and (orientation:landscape){
        .box-game{
            width: 1000px;
        }
        .box-img-game{
            height: 65vh;
        }
        .game-button{
            width: 155px;
            height: 150px; 
        }
        .moviment-to-button{
            &:hover{
                width: 185px;
                height: 170px;
            }
            &:active{
                width: 155px;
                height: 150px;
            }
        }
    }
    @media screen and (max-height:1000px) and (orientation:landscape){
        .box-game{
            width: 692px;
        }
    }
    @media screen and (max-width:720px){
        .box-game{
            width: 100vw;
        }
    }
}