<section class="game"> 
  <logo></logo>
  <div ng-class="loadingClass"><h1 ng-class="loadingText"></h1></div>
  <div class="center-box">
    <div class="box-game">
        <div class="box-game-info">
            <div class="level-info">
                <div class="stage">
                    <h1>{{currentStage}}/5</h1>    
                    <div class="progress-bar"><div class="progress" ng-style="stagePercentage"></div></div>    
                </div>
                <div class="points">
                    <h3 class="uppercase">Nível {{level.LevelNumber}}<br/>Pontos: {{score}}<h3>    
                </div>
                <div class="timer">
                    <h1><smaller>Tempo:</smaller> {{timer}}<smaller>s</smaller></h1>    
                    <div class="progress-bar"><div class="progress" ng-style="timerPercentage"></div></div>    
                </div>
            </div> 
        </div>  
        <div class="box-question-title">
            <h1 class="font-primary uppercase"><smaller>Quem é</smaller> {{rightFriend.name}}?</h1>
        </div>     
        <div class="box-img-game" ng-class="showPictures">
            <button ng-repeat="user in drawFriends" ng-click="answer(user.name)" class="game-button font-primary" ng-class="changeClass('{{user.name}}')" style="background-image: url({{user.picture.data.url}});"></button>
        </div>       
    </div>
  </div>
</section>