<section class="game"> 
  <logo></logo>
  <div class="center-box">
    <div class="box-game">
        <div class="box-game-info">
        </div>  
        <div class="box-question-title">
            <h1 class="font-primary uppercase"><smaller>Quem é</smaller> {{rigthName}}?</h1>
        </div>     
        <div class="box-img-game">
            <button ng-repeat="user in selectedUsers" ng-click="answer(user.nome)" class="game-button font-primary" ng-class="changeClass('{{user.nome}}')" style="background-image: url({{user.img}});"></button>
        </div>    
    </div>
  </div>
</section>