body {
    box-sizing: border-box;
    margin: 0;
    background-color: $background-color-default;
    height: 100vh;
    @extend %flexbox-center-vertical;
    @extend %flexbox-center-horizontal;
}

.box-default{            
        height: 91vh;
        width: 692px; 
        padding: 3% 20px; 
        @extend %background-image-box; 
} 

@media screen and (min-width: 920px) {
    .box-default{            
        height: 91vh;
        width: 915px; 
    }
    
}

.box-content {
    margin: 10px;
    padding: 20px;
    position: relative;
    .box-content-wrapper {
        z-index: 3;       
        position: relative; 
        flex-direction: column;
        justify-content: space-between;
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;
    }
    &:before {
        content: "";
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #f7f7f7;
        box-shadow: 0 0 8px rgba(#000, 0.2);
        border-radius: 5px;
    }
    &:after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #f7f7f7;
        box-shadow: 0 0 8px rgba(#000, 0.2);
        transform: rotate(-4deg);
        border-radius: 5px;
    }
}

.mask-profile {    
    object-fit: cover;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    height: 90px;
    width: 90px;
}

%button-design-primary {
    font-family: $font-type-primary;    
    width: 70%;
    height: 16%;
    background-color: $button-color-login;
    font-size: 22px;   
    text-align: center; 
    border-radius: 10px; 
    border: none;
    color: #fff;
}

%flexbox-center-vertical {
    display: flex;
    justify-content: center;
}

%flexbox-center-horizontal {
    display: flex;
    align-items: center;
}

%background-image-box {
    border-radius: 10px;
    background-image: $background-image-default;   
    background-size: cover;  
    background-position: center;
}

.fa.fa-facebook-official {
    color: #fff;
    font-size: 50px;
    margin: 0 30px 0 0; 
}

.font-primary {
    font-family: $font-type-primary; 
}

.font-secundary {
    font-family: $font-type-secundary; 
}

h1.font-secundary {       
    font-size: 46px;
    text-align: center;
    color: $text-color-login;
    &.subtitle {
        font-size: 33px;
        color: $text-subtitle-color-login;  
    }
}

h1.font-primary {
    
    text-align: center;
    color: $text-color-home;
    small {
        color: $text-color-home;
    }
}