.uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope.ttf"); }
@font-face {
  font-family: 'HDV Comic Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hvd_comic_serif/HVD_Comic_Serif_Pro.otf"); }
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #363D4D;
  height: 100vh; }

.box-default {
  height: 91vh;
  width: 692px;
  padding: 60px 20px; }

@media screen and (min-width: 920px) {
  .box-default {
    height: 91vh;
    width: 915px; } }
.box-content {
  margin: 10px;
  padding: 20px;
  position: relative; }
  .box-content .box-content-wrapper {
    z-index: 3;
    position: relative;
    flex-direction: column;
    justify-content: space-between; }
  .box-content:before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f7f7f7;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
  .box-content:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f7f7f7;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: rotate(-4deg);
    border-radius: 5px; }

.mask-profile {
  object-fit: cover;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  height: 90px;
  width: 90px; }

.login .button-login, .home .button-home, .game .button-home, .lifesadm .button-lifesadm-confirmar, .loginadm .button-home, .menuadm .button-menuadm, .ranking .button-home {
  font-family: "HDV Comic Serif Pro";
  width: 70%;
  height: 16%;
  background-color: #264285;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #fff; }

body, .box-content .box-content-wrapper, .login .button-login, .home .button-home, .game .button-home, .lifesadm .button-lifesadm-confirmar, .loginadm .button-home, .menuadm .button-menuadm, .ranking .box-default, .ranking .button-home {
  display: flex;
  justify-content: center; }

body, .box-content .box-content-wrapper, .login .box-default, .login .button-login, .home .box-default, .home .button-home, .game .button-home, .lifesadm .box-default, .lifesadm .button-lifesadm-confirmar, .loginadm .box-default, .loginadm .button-home, .menuadm .box-default, .menuadm .button-menuadm, .ranking .box-default, .ranking .button-home, .ranking .box-wrapper, .ranking .box-ranking {
  display: flex;
  align-items: center; }

.box-default {
  border-radius: 10px;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center; }

.fa.fa-facebook-official {
  color: #fff;
  font-size: 50px;
  margin: 0 30px 0 0; }

.font-primary {
  font-family: "HDV Comic Serif Pro"; }

.font-secundary {
  font-family: "Annie Use Your Telescope"; }

h1.font-secundary {
  font-size: 46px;
  text-align: center;
  color: #28b266; }
  h1.font-secundary.subtitle {
    font-size: 33px;
    color: #585858; }

h1.font-primary {
  text-align: center;
  color: #343434; }
  h1.font-primary small {
    color: #343434; }

.login .logo {
  width: 33%; }
.login .box-default {
  flex-direction: column;
  justify-content: space-between; }

.home .logo {
  width: 33%; }
.home .box-default {
  flex-direction: column;
  justify-content: space-between; }
.home h1 {
  margin-top: 15px; }
  .home h1.font-primary {
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0.2); }
    .home h1.font-primary > small {
      text-shadow: initial; }
.home .button-home {
  background-color: #e77235; }

.game .logo {
  width: 33%; }
.game .button-home {
  background-color: #e77235; }

.lifesadm .logo {
  width: 33%; }
.lifesadm .box-default {
  flex-direction: column;
  position: relative; }
.lifesadm .box-content {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
.lifesadm .button-lifesadm-confirmar {
  font-size: 18px;
  width: 100%;
  background-color: #bbd568;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px; }
.lifesadm .lifesadm-input {
  background-color: #f0f0f0;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
.lifesadm .lifesadm-input::placeholder {
  color: #c6c6c6;
  font-size: 22px; }
.lifesadm .lifesadm-titulo {
  font-size: 36px;
  color: #4584c1;
  text-align: center;
  margin-bottom: 38px;
  line-height: 36px; }

.loginadm .logo {
  width: 33%; }
.loginadm .box-default {
  flex-direction: column;
  position: relative; }
.loginadm .box-content {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
.loginadm .button-home {
  font-size: 18px;
  width: 100%;
  background-color: #e77235;
  border-radius: 3px;
  padding: 15px;
  margin-top: 15px; }
.loginadm .loginadm-input {
  background-color: #f0f0f0;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
.loginadm .loginadm-input::placeholder {
  color: #c6c6c6;
  font-size: 22px; }
.loginadm .loginadm-title {
  font-size: 36px;
  color: #4584c1;
  text-align: center;
  margin-bottom: 38px;
  line-height: 36px; }

.menuadm .logo {
  width: 33%; }
.menuadm .box-default {
  flex-direction: column;
  position: relative; }
.menuadm .box-content {
  padding-top: 90px;
  padding-bottom: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
.menuadm .button-menuadm {
  background-color: #D5D5D5;
  color: #767676;
  margin: 6px;
  width: 360px;
  height: 58px;
  border-radius: 3px; }
  .menuadm .button-menuadm.confirm {
    background-color: #bbd568;
    color: #fff; }

.ranking .logo {
  width: 33%; }
.ranking .box-default {
  flex-direction: column;
  justify-content: space-between; }
.ranking .button-home {
  width: 388px;
  height: 74px;
  bottom: 0;
  background-color: #e77235; }
.ranking .box-content {
  height: 530px;
  margin: 20px 20px 0 20px;
  padding-bottom: 0; }
  .ranking .box-content:before {
    padding-bottom: 0; }
  .ranking .box-content:after {
    transform: rotate(-2deg);
    padding-bottom: 0; }
.ranking .box-wrapper {
  margin: 20x; }
.ranking .box-ranking {
  margin: 10px; }
.ranking .box-gradiente {
  z-index: 4;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent 20%, #f7f7f7 80%); }
.ranking .mask-profile {
  object-fit: cover;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  height: 45px;
  width: 45px; }
.ranking h1 {
  color: #4584c1; }
.ranking h2 {
  font-size: 10px; }
.ranking h3 {
  font-size: 15px; }
.ranking h1, .ranking h2, .ranking h3 {
  margin-top: 5px;
  margin-bottom: 5px; }
.ranking span {
  font-size: 25px; }
.ranking .inline-block {
  display: inline-block; }
.ranking .box-scroll {
  margin-top: 20px;
  overflow: auto;
  max-height: 441px; }
.ranking ::-webkit-scrollbar-track {
  background-color: #F4F4F4; }
.ranking ::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4; }
.ranking ::-webkit-scrollbar-thumb {
  background: #dad7d7; }

/*# sourceMappingURL=main.css.map */
