.profile {
    .box-default { 
        @extend %flexbox-center-horizontal;     
    }  

    h1 {
        margin-top: 15px;

        &.font-secundary.subtitle {
            margin-top: 0;
            font-size: 24px;
        }

        &.font-primary {
            text-shadow: 0 5px 1px rgba(#000, 0.2);

            & > small { text-shadow: initial; }
        }
    }

    .button-home {
        @extend %button-design-primary; 
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;                
        width: 388px;
        height: 74px;
        bottom: 0;
        background-color: $button-color-home;
    } 
}