.ranking {
    .logo {
        width: 33%;
    }

    .box-default{ 
        flex-direction: column;
        justify-content: space-between;
        @extend %flexbox-center-horizontal;
        @extend %flexbox-center-vertical;
    }  

    .button-home {
        width: 388px;
        height: 74px;
        bottom: 0;
        background-color: $button-color-home;
        @extend %button-design-primary; 
        @extend %flexbox-center-vertical;
        @extend %flexbox-center-horizontal;                
    }  

    .box-content {
        height: 40vh;
        margin: 20px 20px 0 20px;
        padding-bottom: 0;
        &:before{
            padding-bottom: 0;
        }
        &:after {
            transform: rotate(-2deg);
            padding-bottom: 0;
        }
    }

    span {
        font-size: 25px;
    }

    .box-wrapper {
        @extend %flexbox-center-horizontal;
        margin: 20x;
    }

    .box-ranking {
        @extend %flexbox-center-horizontal;
        margin: 10px;
        &:nth-of-type(1) span{
            color: gold;      
        }
        &:nth-of-type(2) span{
            color: silver;      
        }
        &:nth-of-type(3) span{
            color: brown;      
        }
        h2.font-primary.uppercase{
            max-width: 85px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .box-scroll {
        margin-top: 20px;
        overflow: auto;	
	    height: calc(40vh - 90px);
    }

    .box-gradiente {
        z-index: 4;
        height: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(transparent 20%, rgba(247, 247, 247, 1) 80%); 
    }

    .mask-profile {    
        object-fit: cover;
        border-radius: 50%;
        border: none;
        margin: 0 5px;
        height: 45px;
        width: 45px;
    }  

    h1 {
        color: $text-color-loginadm;
    }

    h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 15px;  
    }

    h1, h2, h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }    

    .inline-block {
        display: inline-block;
    }    

    ::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    }
    ::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
    }
    ::-webkit-scrollbar-thumb {
        background: #dad7d7;
    }
}