 <section class="ranking">
  <div class="box-default">
    <img class="logo" src="../images/logo.png" alt=""> 
    <div class="box-wrapper">  
      <!--DAILY-->
      <div class="box-content">
        <div class="box-content-wrapper">          
          <h1 class="font-primary uppercase">diário</h1>
          <div scroll-glue-top="glued" class="box-scroll">
            <div class="box-ranking" ng-repeat="user in daily">
              <span class="font-primary">#{{$index + 1}}</span>
              <img class="mask-profile" alt="fotografia do perfil do usuario" src="{{user.Picture}}">
              <div class="inline-block">
                <h2 class="font-primary uppercase">{{user.Name}}</h2> 
                <h3 class="font-primary uppercase">{{user.Score}} pontos</h3> 
              </div>
            </div>
          </div>                     
        </div>    
        <div class="box-gradiente"></div>
      </div>     
      <!--MONTH-->
      <div class="box-content">
      <div class="box-content-wrapper">          
          <h1 class="font-primary uppercase">mensal</h1>
          <div scroll-glue-top="glued" class="box-scroll">
            <div class="box-ranking" ng-repeat="user in month">
              <span class="font-primary">#{{$index + 1}}</span>
              <img class="mask-profile" alt="fotografia do perfil do usuario" src="{{user.Picture}}">
              <div class="inline-block">
                <h2 class="font-primary uppercase">{{user.Name}}</h2> 
                <h3 class="font-primary uppercase">{{user.Score}} pontos</h3> 
              </div>
            </div>
          </div>                     
        </div>    
        <div class="box-gradiente"></div>
      </div>           
      <!--TOTAL-->
      <div class="box-content">
      <div class="box-content-wrapper">          
          <h1 class="font-primary uppercase">total</h1>
          <div scroll-glue-top="glued" class="box-scroll">
            <div class="box-ranking" ng-repeat="user in total">
              <span class="font-primary">#{{$index + 1}}</span>
              <img class="mask-profile" alt="fotografia do perfil do usuario" src="{{user.Picture}}">
              <div class="inline-block">
                <h2 class="font-primary uppercase">{{user.Name}}</h2> 
                <h3 class="font-primary uppercase">{{user.Score}} pontos</h3> 
              </div>
            </div>
          </div>                     
        </div>    
        <div class="box-gradiente"></div>
      </div> 
    </div>   
    <!--BUTTON TO PLAY-->
    <button type="button" class="button-home">        
      <span class="text uppercase">jogar</span>          
    </button> 
  </div>
</section>