 <section class="ranking">
  <div class="box-default">
    <img class="logo" src="../images/logo.png" alt=""> 
    <div class="box-wrapper">  
      <!--DAILY-->
      <div class="box-content">
        <div class="box-content-wrapper">          
          <h1 class="font-primary uppercase">diário</h1>
          <ol scroll-glue-top="glued" class="box-scroll">
            <span data-ng-if="daily.length == 0">Não há jogadores no ranking no momento!</span>
            <li class="box-ranking" data-ng-repeat="user in daily">
              <img class="mask-profile" alt="fotografia do perfil do usuario" data-ng-src="{{user.Picture}}">
              <div class="inline-block">
                <h2 class="font-primary uppercase">{{user.Name}}</h2> 
                <h3 class="font-primary uppercase">{{user.Score}} pontos</h3> 
              </div>
            </li>
          </ol>                     
        </div>    
        <div class="box-gradiente"></div>
      </div>     
      <!--MONTH-->
      <div class="box-content">
        <div class="box-content-wrapper">          
          <h1 class="font-primary uppercase">mensal</h1>
          <ol scroll-glue-top="glued" class="box-scroll">
            <span data-ng-if="daily.length == 0">Não há jogadores no ranking no momento!</span>
            <li class="box-ranking" data-ng-repeat="user in month">
              <img class="mask-profile" alt="fotografia do perfil do usuario" data-ng-src="{{user.Picture}}">
              <div class="inline-block">
                <h2 class="font-primary uppercase">{{user.Name}}</h2> 
                <h3 class="font-primary uppercase">{{user.Score}} pontos</h3> 
              </div>
            </li>
          </ol>                     
        </div>    
        <div class="box-gradiente"></div>
      </div>           
      <!--TOTAL-->
      <div class="box-content">
        <div class="box-content-wrapper">          
          <h1 class="font-primary uppercase">total</h1>
          <ol scroll-glue-top="glued" class="box-scroll">
            <span data-ng-if="daily.length == 0">Não há jogadores no ranking no momento!</span>
            <li class="box-ranking" data-ng-repeat="user in total">
              <img class="mask-profile" alt="fotografia do perfil do usuario" data-ng-src="{{user.Picture}}">
              <div class="inline-block">
                <h2 class="font-primary uppercase">{{user.Name}}</h2> 
                <h3 class="font-primary uppercase">{{user.Score}} pontos</h3> 
              </div>
            </li>
          </ol>                       
        </div>    
        <div class="box-gradiente"></div>
      </div> 
    </div>   
    <!--BUTTON TO PLAY-->
    <button type="button" class="button-home" ng-click="play()">        
      <span class="text uppercase">Jogar</span>          
    </button> 
  </div>
  <menu></menu>
</section>